
#dropdownMenu2{
background-color: aqua;
}
#abstimmung1{
    width: 50%;
    text-align: center;
    align: center;
    background-color: aqua;
}
#abstimmung2{
    width: 50%;
    text-align: center;
    align: center;
    background-color: aqua;
}